<!DOCTYPE html>

<html lang="{{ global.request.locale }}">

    <head>
        <script >var lang = "{{ global.request.locale }}"</script>
        {% block styles %}{% endblock %}
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>

</html>
