.DS_Store
.kdev4
/build/node_modules
/build/vendor
/build/frontends/*/config/passwords.json
/sites/**/
!/sites/*.json
/src/DIME/frontend/*/config/passwords.json
/vendor/
.settings/
.buildpath
.project
composer.lock
