{% extends "ark_main_layout.html.twig" %}

{% block content %}

<div class="container-fluid">

    <div class="alert alert-info" role="alert">Hey there, here's an alert...</div>

    {% for rdx, row in layout.rows %}
        <div class="row">
            {% for cdx, col in row %}
                <div class="col-md-12">
                    {% if col.contents is defined %}
                        {{ contents|raw }}
                    {% else %}
                        {% for form in forms[rdx][cdx] %}
                            {{ form_row(form) }}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>

{% endblock %}
