<div>

    {% for rdx, row in layout.rows %}
        <div class="row">
            {% if row|length == 3 %}
                {% set colclass = 'col-md-4' %}
            {% elseif row|length == 2 %}
                {% set colclass = 'col-md-8' %}
            {% else %}
                {% set colclass = 'col-md-12' %}
            {% endif %}
            {% for cdx, col in row %}
                <div class="{{colclass}}">
                    {% set colclass = 'col-md-4' %}
                    {% include col.template() with {'layout': col, 'forms': forms[rdx][cdx]} only %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
