{# Define the standard sidebar block #}
{% block sidebar %}

    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Add</a></li>
        <li><a href="#">View</a></li>
        <li><a href="#">Edit</a></li>
    </ul>

{% endblock sidebar %}
