{% block image -%}

{% if state.modus is same as('active') %}

    {{ form_row(form, {'state': state, 'help': help}) }}

{% else %}

    <div class='item'>
        {% if data and data.value %}
             <img class = "profile-img" src="{{ path('img', {'server': 'file', 'image': data.value.id}) ~ '?p=thumb' }}"/>
        {% endif %}
    </div>

    {% do form.setRendered %}

{% endif %}

{%- endblock image %}
