{# Define the standard <body> block including navbar, sidebar, and content block #}
{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1 sidebar">
                {{ block('sidebar') }}
            </div>

            <div class="col-xs-12 col-md-12 col-lg-10">
                {{ block('navbar') }}
                <div class="main row">
                    {{ block('content') }}
                </div>
            </div>

        </div>
    </div>

    {{ block('footer') }}

{% endblock body %}
