{# Define the standard <body> block including navbar, sidebar, and content block #}
{% block body %}

    {{ block('navbar') }}

    <div class="container-fluid">
        <div class="jumbotron">
            {{ block('content') }}
        </div>
    </div>

{% endblock body %}
