{# Define the footer block #}
{% block footer %}

<footer class="footer navbar-fixed-bottom">
    <div class= "credits col-md-6 col-md-push-3">
        {{ 'site.footer' | translate }}
    </div>
</footer>

<script>
    window.applocale = "{{ app.locale }}";
</script>

{% endblock footer %}
