{# Define the standard <body> block including navbar, sidebar, and content block #}
{% block body %}

<div class="container-fluid" role="main">

    <div class="row">
        {{ page.navbar.renderView(data) }}
    </div>

    <div class="row">

        <div class="col-md-1 sidebar">
            {{ page.sidebar.renderView(data) }}
        </div>

        <div class="col-xs-12 col-md-12 col-lg-10">
            {{ page.content.renderView(data, form) }}
        </div>

    </div>

    <div class="row">
        {{ page.footer.renderView(data) }}
    </div>

</div>

{% endblock body %}
