{# ARK default page layout with default navbar, sidebar, and content sections #}

{% use "blocks/link.html.twig" %}

{% block homeaction %}

    <div class="row">
        <div class="col-md-3 dimehome dimehometool" >
            {{ 'dime.home.welcome' | trans({ '%name%': global.user.displayName }) }}
        </div>
        <div class="col-md-3 dimehome dimehometool" >
            {% include "blocks/link.html.twig" with {'link':
                           {"name": "dime.home.alarm",
                           "active": true,
                           "target": "home.messages"} } %}
        </div>
        <div class="col-md-3 dimehome dimehometool" >
            <ul class="list-group dime-navlist">
                <li class="list-group-item dime-listhead normal">
                    <span class="dime-icon icon-add normal"></span>
                    {% include "blocks/link.html.twig"
                        with {'link': {"name": "dime.find.add", "active": true, "target": "finds.add"} } %}
                </li>
            </ul>
        </div>
        <div class="col-md-3 dimehome dimehometool" >
            {% include "blocks/link.html.twig" with {'link':
                           {"name": "dime.search.finds.mine",
                           "active": true,
                           "target": "finds.list"} } %}
        </div>
    </div>

{% endblock homeaction %}
