{# Define the standard navbar block #}

{% block navbar %}

    <div id="navbar" class="navbar row">
        <div class="col-md-12 dime-banner">
            <div class="row">
                <div class="col-xs-1 col-xs-push-0 col-sm-1 col-sm-push-0 col-md-1 col-md-push-0 mobile-options">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar">
                        <span class="glyphicon glyphicon-menu-hamburger"></span>
                    </button>
                    {% if not global.user %}
                        <a href="#" data-toggle="modal" data-target="#login-modal" class="loginbutton">
                            <span class=" dime-icon glyphicon glyphicon-log-in login"></span>
                            <span class="text">login</span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-xs-1 col-xs-push-0 col-sm-1 col-sm-push-2 col-md-1 col-md-push-3">
                    <span class="dime-title">
                        &nbsp;
                    </span>
                </div>
                <div class="col-sm-push-0 col-md-4 col-md-push-6">
                    <form class="navbar-form navbar-right">
                        <input type="text" class="form-control" placeholder="{{ 'search.placeholder' | trans }}">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs nav-justified dime-nav">
                        {% if menus.navlinks is defined %}
                            {% for link in menus.navlinks %}
                                {% if link.dropdown == true %}
                                    <li class="dropdown">
                                        <a data-toggle="dropdown" class="dropdown-toggle" href="{{ path(link.target) }}">
                                            {{ link.name | translate }}
                                        </a>
                                        <ul class="dropdown-menu">
                                            {% for sublink in link.navlinks %}
                                                <li>
                                                    {% include "blocks/link.html.twig" with {'link': sublink} %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li role="presentation">
                                        {% include "blocks/link.html.twig" with {'link': link} %}
                                    </li>
                                {% endif %}

                            {% endfor %}
                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock navbar %}
