{# Define the standard navbar block #}

{% use "blocks/linkitem.html.twig" %}

{% block navibar %}
  <div id="navbar" class="navbar row">
	<div class="row">        
      <div class="col-md-12 dime-banner">
		<form class="navbar-form navbar-right">
		  <input type="text" class="form-control" placeholder="{{ 'search.placeholder' | trans }}">
        </form>
        <span class="row dime-title">&nbsp;</span>
      </div>
    </div>
    <div class="row">
	  <div class="col-md-12">
        <ul class="nav nav-tabs nav-justified dime-nav">
            {% if page_config.navlinks is defined %}
                {% for link in page_config.navlinks %}
    			  <li role="presentation">
                      {% include "blocks/linkitem.html.twig" with { 'link': link } %}
                  </li>
                {% endfor %}
            {% endif %}
        </ul>
      </div>
    </div>
  </div>
{% endblock navibar %}
