{# Define the standard sidebar block #}

{% use "blocks/linkitem.html.twig" %}

{% block sidbar %}
  <div class="row usertool">
    {% block usertool %}{% endblock %}
  </div>
  <div class="row">
      <ul class="list-group dime-navlist">
      {% if page_config.sidelinks is defined %}
        {% for group in page_config.sidelinks %}
          {% if group.active %}
        	<li class="list-group-item dime-listhead normal">
  				<span class="dime-icon icon-{{ group.name }} normal"></span>
          {% else %}
        	<li class="list-group-item dime-listhead small">
  				<span class="dime-icon icon-{{ group.name }} small"></span>
          {% endif %}
			</li>
            {% for link in group.links %}
              {% if link.active %}
              <li class="active list-group-item navlist">
              {% else %}
              <li class="list-group-item navlist">
              {% endif %}
                  {% include "blocks/linkitem.html.twig" with { 'link': link } %}
              </li>
          	</li>
            {% endfor %}
        {% endfor %}
      {% endif %}
      </ul>
  </div>
{% endblock sidbar %}

{#         
        <li class="active list-group-item navlist">
          <a href="#">Opret Fund <span class="sr-only">(current)</span></a></li>
        <li class="list-group-item"><a href="#">Opret Lokalitet</a></li>
      </ul>
      <ul class="list-group dime-navlist">
        <li class="list-group-item dime-listhead small">
          <span class="dime-icon icon-search small"></span>
        </li>
        <li class="list-group-item"><a href="#">Sog Fund</a></li>
        <li class="list-group-item"><a href="#">Sog Lokalitet</a></li>
#}