{# Define the standard navbar block #}
{% block usertool %}

    {% if global.user %}
        <a href="{{ path('user.logout') }}">
            <span class="dime-icon icon-user small"></span>
            {{ 'user.greeting' | trans({ '%name%': global.user.displayName }) }}
        </a>
    {% else %}
        <a href="#" data-toggle="modal" data-target="#login-modal">{{ 'dime.user.login' | trans }}</a>
    {% endif %}

{% endblock usertool %}
