{% block vocabulary -%}

    {% set terms = vocabulary.terms %}

    <div class="dropdown">
        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-primary" data-target="#" href="/page.html">
            {{ vocabulary | translate }} <span class="caret"></span>
        </a>
    <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    {% tree term in terms %}
            {% if term.descendents %}
                <li class="dropdown-submenu">
                <a href="#">{{ term.name }}</a>
                <ul class="dropdown-submenu">
            {% else %}
                <li><a href="#">{{ term.name }}</a></li>
            {% endif %}
            {% subtree term.descendents %}
            {% if term.descendents %}
                </ul>
                </li>
            {% endif %}
    {% endtree %}
    </ul>

{%- endblock vocabulary %}
