<!DOCTYPE html>

<html lang="{{ global.request.locale }}">

    <head>

        <!-- Bootstrap -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head, any other head content must come *after* these tags -->

        {% block head %}{% endblock %}

        <!-- Combined Bootstrap and ARK CSS -->
        <link href="https://openlayers.org/en/v3.20.1/css/ol.css" rel="stylesheet" type="text/css">
        <link href="{{ asset('styles/ark.min.css', 'frontend') }}" rel="stylesheet" type="text/css"/>

        <!-- Bootstrap -->
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script> <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]-->

    </head>

    <body>

        {% block body %}{% endblock %}

        <!-- Combined jQuery, Bootstrap and ARK js -->
        <script> var path = "{{ path('dime.front')|escape('js') }}";</script>
        <script src="https://openlayers.org/en/v3.20.1/build/ol.js"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="{{ asset('scripts/ark.min.js', 'frontend') }}"></script>

    </body>

</html>
