{# Define the footer block #}
{% block footer %}

<footer class="footer navbar-fixed-bottom">
    
    <button type="button" data-toggle="modal" data-target="#record-add-modal" class = "btn btn-primary btn-add btn-add-narrow">
        <span class="glyphicon glyphicon-plus"></span>
            {{ 'ark.newrecord' | translate }}
    </button>
</footer>

{% endblock footer %}
