{% block head -%}

    <title>
        {{ 'site.brand' | trans }}
    </title>

    <link href="{{ asset('images/brand/favicon.png', 'frontend') }}" rel="icon" type="image/png" />

{%- endblock head %}
