{% block imagecollection -%}

{% if state.modus is same as('active') %}

    {{ form_row(form, {'state': state, 'help': help}) }}

{% else %}

    <div id='carousel-custom' class='carousel slide' data-ride='carousel'>

        <div class='carousel-outer'>

            <!-- Wrapper for slides -->
            <div class='carousel-inner'>

                {% if data %}
                    {% for key, image in data.value %}
                        <div class='item {% if key is same as(0) %} active {% endif %}'>
                            <img src="{{ image.sourcePath('preview') }}" alt='' />
                        </div>
                    {% endfor %}
                {% endif %}

            </div>

            <!-- Controls -->
            <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                <span class='glyphicon glyphicon-chevron-left'></span>
            </a>
            <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                <span class='glyphicon glyphicon-chevron-right'></span>
            </a>

        </div>

        <!-- Indicators -->
        <ol class='carousel-indicators mCustomScrollbar'>
            {% if data %}
                {% for key, image in data.value %}
                    <li data-target='#carousel-custom' data-slide-to='{{ key }}' {% if key == 0 %} class='active' {% endif %} >
                        <img src="{{ image.sourcePath('thumb') }}" alt='' />
                    </li>
                {% endfor %}
            {% endif %}
        </ol>

    </div>

    {% do form.setRendered %}

{% endif %}

{%- endblock imagecollection %}
