{# Define the standard sidebar block #}

{% block sidebar %}

    <div class="row">
        <ul class="list-group">
            {% if state.page_config.sidelinks is defined %}
                {% for group in state.page_config.sidelinks %}
                    {% if is_granted(group.role) %}
                        {% if group.active %}
                            <li class="list-group-item  normal">
                                <span class="icon-{{ group.name }} normal"></span>
                            </li>
                        {% else %}
                            <li class="list-group-item small">
                                <span class="icon-{{ group.name }} small"></span>
                            </li>
                        {% endif %}
                        {% for link in group.links %}
                            {% if link.active %}
                                <li class="active list-group-item navlist">
                                    {% include "blocks/link.html.twig" with {'link': link} %}
                                </li>
                            {% else %}
                                <li class="list-group-item navlist">
                                    {% include "blocks/link.html.twig" with {'link': link} %}
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>

{% endblock sidebar %}
