{# Define the standard sidebar block #}

{% use "blocks/link.html.twig" %}

{% block sidebar %}

    <div class="row">
        <ul class="list-group">
        </ul>
    </div>

{% endblock sidebar %}
