{# Custom Find layout with multiple forms embedded in dual-column layout #}

{% set column1 = children[0][0] %}
{% set column2 = children[0][1] %}

<div class="row">

    <div class="col-md-6">
        {% for child in column1 %}
            {% dump(child) %}
            {% if forms[child.element.name] is defined %}
                {{ child.element.renderView(child, forms, forms[child.element.name]) | raw }}
            {% else %}
                {{ child.element.renderView(child, forms) | raw }}
            {% endif %}
        {% endfor %}
    </div>

    <div class="col-md-6">

        {% for child in column2 %}
            {% dump(child) %}
            {{ child.element.renderView(child, forms, forms[child.element.name]) | raw }}
            <hr />
        {% endfor %}

    </div>

</div>
