<div class="row">
    <div class="col-sm-12">
        <center><h2>My Dashboard</h2></center>
        <p>You have x finds recorded.<br/>Table of find stats.</p>
        <p>You have x unread notifications.</p>
        <p>To add new finds, click on Opret Fund.</p>
        <p>To search or process your existing finds, click on Mine Fund.</p>
    </div>
    <div class="col-md-12 redtext">
        {{ 'dime.register.faq' | translate | raw }}
    </div>
</div>
