{# DIME front page layout with default navbar, sidebar, and content sections #}

{% use "blocks/carousel.html.twig" %}

{% block frontpage %}

    <div class="row">
        <div class="col-md-6 col-md-push-3 dimehome banner" >
            {{ 'dime.home.hvert' | translate }}
        </div>
    </div>
    <div class="row dimehome">
        <div class="col-md-6 col-md-push-3">
            {% include "blocks/carousel.html.twig" with {'data': data[layout.name]} %}
        </div>
        <div class="col-md-3 col-md-push-3">
            <div class="redtext">
                {{ 'dime.home.faq' | translate | raw }}
            </div>
        </div>
    </div>
    <div class="row dimehome">
        <form class="search">
            <input type="text" class="form-control" placeholder="{{ 'search.placeholder' | translate }}">
            <button type="submit">
                <span class="dime-icon icon-search small"></span>
            </button>
        </form>
    </div>

{% endblock frontpage %}
