{# ARK GridLayout template for standard Bootstrap grid #}

{% for rdx, row in layout.rows %}

    <div class="row">

        {# TODO: Make this driven from GridLayout object! #}
        {% if row | length > 12 %}
            {% set colclass = 'col-md-12' %}
        {% elseif row | length > 6 %}
            {% set colclass = 'col-md-1' %}
        {% elseif row | length >= 5 %}
            {% set colclass = 'col-md-2' %}
        {% elseif row | length == 4 %}
            {% set colclass = 'col-md-3' %}
        {% elseif row | length == 3 %}
            {% set colclass = 'col-md-4' %}
        {% elseif row | length == 2 %}
            {% set colclass = 'col-md-6' %}
        {% else %}
            {% set colclass = 'col-md-12' %}
        {% endif %}

        {% if layout.formMode is defined %}
            {{ form_start(forms[layout.name]) }}
            {% set form = forms[layout.name] %}
        {% endif %}

        {% for cdx, col in row %}
            <div class="{{colclass}}">
                {% for idx, cell in col %}
                    {{ cell.renderView(data, forms, form)|raw }}
                {% endfor %}
            </div>
        {% endfor %}

        {% if layout.formMode is defined  %}
            {{ form_end(forms[layout.name]) }}
        {% endif %}

    </div>

{% endfor %}
