<div class="row col-xs-12">

    {% for element in layout.elements %}
        {% if forms is defined and forms[element.name] is defined %}
            {% include element.template() with {'layout': element, 'forms': forms[element.name]} %}
        {% else %}
            {% include element.template() with {'layout': element} %}
        {% endif %}
    {% endfor %}

</div>
